{% extends '@VivoAdmin/layout.html.twig' %}

{% block page_title %}{% endblock page_title %}

{% block topnav %}{% endblock topnav %}
{% block notices %}{% endblock notices %}
{% block breadcrumb %}{% endblock breadcrumb %}

{% block body_class 'vivo_admin_security' %}

{% block content %}
    {{ form_start(form) }}
    <h2>{% block title %}Password expired{% endblock title %}</h2>
    {% for type, flashMessages in app.session.flashbag.all() %}
        {% for flashMessage in flashMessages %}
            <div class="alert alert-{{ type }}">
                {{ flashMessage }}
            </div>
        {% endfor %}
    {%- endfor %}
    <div class="control-group error">
        {{ form_errors(form) }}
        {{ form_errors(form.currentPassword) }}
        {{ form_errors(form.newPassword.first) }}
        {{ form_errors(form.newPassword.second) }}
    </div>
    <fieldset>
        {{ form_widget(form.currentPassword, {'attr': {'class': 'input-block-level', 'placeholder': form.currentPassword.vars.label, 'autofocus': 'autofocus'}}) }}
        {{ form_widget(form.newPassword.first, {'attr': {'class': 'input-block-level', 'placeholder': form.newPassword.first.vars.label}}) }}
        {{ form_widget(form.newPassword.second, {'attr': {'class': 'input-block-level', 'placeholder': form.newPassword.second.vars.label}}) }}
        {{ form_rest(form) }}
    </fieldset>
    <div class="controls">
        <button type="submit" class="btn btn-primary">Update Password</button>
        <a href="{{ path('vivo_admin.security.logout') }}" class="btn">Cancel &amp; Logout</a>
    </div>
    {{ form_end(form) }}
{% endblock content %}
