{% extends '@VivoBlog/Admin/layout.html.twig' %}

{% block title 'Categories' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li><a href="{{ path('vivo_blog.admin.category.index') }}">Categories</a> <span class="divider">/</span></li>
    <li class="active">List Categories</li>
{% endblock breadcrumb_crumbs %}

{% block content %}
    <div class="btn-toolbar pull-left">
        <div class="btn-group">
            <a href="{{ path('vivo_blog.admin.category.create') }}" class="btn btn-primary"><i class="icon-plus icon-white"></i> Create Category</a>
        </div>
        <div class="btn-group">
            <a href="{{ path('vivo_blog.admin.category.rank') }}" class="btn"><i class="icon-list"></i> Rank Categories</a>
        </div>
    </div>

    <div class="pull-right">
        {{ form(searchForm, {'action': path(app.request.attributes.get('_route'), app.request.attributes.get('_route_params')|merge(app.request.query.all|merge({'page': 1})) )}) }}
    </div>

    <div class="clearfix"></div>
    <div id="{{ searchForm.vars.id ~ '_results' }}">
        {% block ajax_response %}
            {% if pagination|length < 1 %}
                <div class="alert alert-notice">
                    There are currently no blog categories available.
                </div>
            {% else %}
                <table class="table table-striped table-hover table-bordered">
                    <thead>
                    <tr>
                        <th>{{ knp_pagination_sortable(pagination, 'Category Id', 'category.id')|raw }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Title', 'category.title')|raw }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Posts', 'postCount')|raw }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Created', 'category.createdAt')|raw }}</th>
                        <th>{{ knp_pagination_sortable(pagination, 'Updated', 'category.updatedAt')|raw }}</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for category in pagination %}
                        <tr>
                            <td>{{ category.id }}</td>
                            <td>
                                <a href="{{ path('vivo_blog.category.index', {'slug': category.slug}) }}" target="_blank">{{ category.title }}</a>
                            </td>
                            <td>
                                <a href="{{ path('vivo_blog.admin.post.index', {'category': category.id}) }}">{{ post_count[category.id]|number_format }}</a>
                            </td>
                            <td>{% if category.createdAt %}{{ category.createdAt|date('d-M-Y h:i:sa') }}{% endif %}</td>
                            <td>{% if category.updatedAt %}{{ category.updatedAt|date('d-M-Y h:i:sa') }}{% endif %}</td>
                            <td>
                                <div class="btn-group">
                                    <a href="{{ path('vivo_blog.admin.category.update', {'id': category.id}) }}" class="btn"><i class="icon-pencil"></i> Edit</a>
                                    <button class="btn dropdown-toggle" data-toggle="dropdown">
                                        <span class="caret"></span>
                                    </button>
                                    <ul class="dropdown-menu open-left">
                                        <li><a href="{{ path('vivo_blog.admin.category.update', {'id': category.id}) }}"><i class="icon-pencil"></i> Edit</a></li>
                                        <li><a class="confirm" href="{{ path('vivo_blog.admin.category.delete', {'id': category.id, 'token': csrf_token(category.csrfIntention('delete'))}) }}"><i class="icon-trash"></i> Delete</a></li>
                                    </ul>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <div class="navigation">
                    {{ knp_pagination_render(pagination) }}
                </div>
            {% endif %}
        {% endblock ajax_response %}
    </div>
{% endblock content %}
