{% extends '@VivoSite/Mailer/layout.html.twig' %}

{% block subject -%}
    {%- autoescape false -%}Password Updated{%- endautoescape -%}
{%- endblock %}

{% block body_text -%}
    {%- autoescape false -%}
Your password at {{ site.shortName }} has been updated by an administrator.

Email: {{ user.email }}
Password: {{ plain_password }}

Login URL: {{ url('vivo_admin.security.login') }}

    {%- endautoescape -%}
{%- endblock %}

{% block body_html -%}
    <p>Your password at <strong>{{ site.shortName }}</strong> has been updated by an administrator.</p>
    <p>
        <strong>Email:</strong> {{ user.email }}<br/>
        <strong>Password:</strong> {{ plain_password }}
    </p>
    <p>
        <strong>Login URL:</strong> <a href="{{ url('vivo_admin.security.login') }}">{{ url('vivo_admin.security.login') }}</a>
    </p>
{%- endblock %}
