{% extends '@VivoAdmin/layout.html.twig' %}

{% block title 'Edit User' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li><a href="{{ path('vivo_admin.user.update', {'id': user.id, 'token': csrf_token(user.csrfIntention('update'))}) }}">{{ user.fullName }}</a> <span class="divider">/</span></li>
    <li class="active">Edit User</li>
{% endblock breadcrumb_crumbs %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    <p>{{ form_errors(form) }}</p>
    <fieldset>
        {{ form_row(form.user.group) }}
        {{ form_row(form.user.firstName) }}
        {{ form_row(form.user.lastName) }}

        {{ form_row(form.updatePassword, {'attr': {'class': 'vivo_admin_change_password'}}) }}
        <div class="vivo_admin_change_password"{% if form.vars.value.updatePassword is not same as(true) %} style="display:none;"{% endif %}>
            {{ form_row(form.newPassword) }}
        </div>

        {{ form_row(form.user.disabledAt) }}
        {{ form_rest(form.user) }}
        {{ form_rest(form) }}
    </fieldset>
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Save User</button>
        <a href="{{ path('vivo_admin.user.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock content %}
