{% extends '@AppFaq/Admin/layout.html.twig' %}

{% block title 'Edit FAQ' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li><a href="{{ path('app_faq.admin.faq.update', {'id': faq.id}) }}">{{ faq.question }}</a> <span class="divider">/</span></li>
    <li class="active">Edit FAQ</li>
{% endblock breadcrumb_crumbs %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% include '@AppFaq/Admin/Faq/_form.html.twig' with {'form': form, 'faq': faq} %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Save FAQ</button>
            <a href="{{ path('app_faq.admin.faq.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock content %}
