{% extends '@VivoPage/Admin/layout.html.twig' %}

{% block title 'Create Navigation Menu' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li><a href="{{ path('vivo_page.admin.menu.index') }}">Navigation</a> <span class="divider">/</span></li>
    <li class="active">Create Navigation Menu</li>
{% endblock breadcrumb_crumbs %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
        {% include '@VivoPage/Admin/Menu/_form.html.twig' with {'form': form, 'menu_node': menu_node} %}
        <div class="form-actions">
            <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Create Menu</button>
            <a href="{{ path('vivo_page.admin.menu.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
        </div>
    {{ form_end(form) }}
{% endblock content %}
