{% extends 'admin.html.twig' %}

{% block title 'Rank Timelines' %}

    {% block breadcrumb_crumbs %}
        {{ parent() }}
        <li><a href="{{ path('app_core.admin.timeline.index') }}">Timelines</a> <span class="divider">/</span></li>
        <li class="active">Rank Timelines</li>
    {% endblock breadcrumb_crumbs %}

    {% block content %}
        <form action="{{ path('app_core.admin.timeline.rank') }}" method="post">
            {% if timelines|length > 0 %}
                <input type="hidden" name="ranks" id="app_core_timeline_rank_data" value="" />
                <div class="btn-toolbar">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Save Ranks</button>
                    </div>
                    <div class="btn-group">
                        <a href="{{ path('app_core.admin.timeline.index') }}" class="btn"><i class="icon-list"></i> Return to List</a>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="nested-tree" id="app_core_timeline_rank">
                    <ol class="tree-group">
                        {% for timeline in timelines %}
                            <li class="item" id="app_core_timeline_{{ timeline.id }}">
                                <div class="item-container">
                                    <a href="{{ path('app_core.admin.timeline.update', {'id': timeline.id, 'token': csrf_token(timeline.csrfIntention('update'))}) }}" target="_blank">{{ timeline.title }}</a>

                                    <ul class="nav nav-pills">
                                        <li class="dropdown">
                                            <button class="btn btn-mini btn-link dropdown-toggle" data-toggle="dropdown">
                                                <span class="caret"></span>
                                            </button>
                                            <ul class="dropdown-menu open-left">
                                                <li><a href="{{ path('app_core.admin.timeline.update', {'id': timeline.id, 'token': csrf_token(timeline.csrfIntention('update'))}) }}"><i class="icon-pencil"></i> Edit</a></li>
                                                <li><a class="confirm" href="{{ path('app_core.admin.timeline.delete', {'id': timeline.id, 'token': csrf_token(timeline.csrfIntention('delete'))}) }}"><i class="icon-trash"></i> Delete</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </div>
                            </li>
                        {% endfor %}
                    </ol>
                </div>
                <script type="text/javascript">
                    jQuery('#app_core_timeline_rank > ol').each(function() {
                        var treeContainer = jQuery(this);
                        var initialData;

                        jQuery(this).nestedSortable({
                            forcePlaceholderSize: true,
                            handle: 'div.item-container',
                            helper:	'clone',
                            items: 'li.item',
                            opacity: .6,
                            placeholder: 'placeholder',
                            tabSize: 25,
                            tolerance: 'pointer',
                            toleranceElement: '.item-container',
                            maxLevels: 1,
                            isTree: false,
                            update: function (event, ui) {
                                var data = treeContainer.nestedSortable('serialize');

                                if (data == initialData) {
                                    jQuery('#app_core_timeline_rank_data').val('');
                                } else {
                                    jQuery('#app_core_timeline_rank_data').val(data);
                                }
                            },
                            start: function(event, ui){
                                ui.item.find('.nav').hide();
                                ui.placeholder.height(ui.item.height());
                            },
                            stop: function (event, ui) {
                                ui.item.find('.nav').show();
                            }
                        });

                        initialData = treeContainer.nestedSortable('serialize');
                    });
                </script>
            {% else %}
                <div class="alert alert-notice">
                    There are currently no timelines available for sorting.
                </div>
            {% endif %}
        </form>
    {% endblock content %}
