{% extends '@AppCore/Admin/Timeline/layout.html.twig' %}

{% block title 'Edit Timeline' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li><a href="{{ path('app_core.admin.timeline.update', {'id': timeline.id}) }}">{{ timeline.title }}</a> <span class="divider">/</span></li>
    <li class="active">Edit Timeline</li>
{% endblock breadcrumb_crumbs %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% include '@AppCore/Admin/Timeline/_form.html.twig' with {'form': form, 'timeline': timeline} %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Save Timeline</button>
        <a href="{{ path('app_core.admin.timeline.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock content %}
