{% extends '@VivoPage/Page/view.html.twig' %}

{% block body_class %}{{ fruit.colorClass }}{% endblock body_class %}

{% block page_title %}
    {% if app.request.attributes.get('_route') == 'app_core.fruit.view' %}
        {{ fruit.name }}
    {% else %}
        {{ page.pageTitle }}
    {% endif %}
{% endblock page_title %}

{% block post_title_block %}
    {% if fruit.bannerImage is not empty and fruit.bannerImage is not empty %}
        <div class="hero-image" style="background-image:url('{{ fruit.bannerImage.imagePreviewPath|imagine_filter('1920x450p') }}');"></div>
    {% endif %}
{% endblock post_title_block %}


{% block main_intro_content %}
    {% if fruit.pageIntroduction is defined and fruit.pageIntroduction is not null %}
        <p class="intro">{{ fruit.pageIntroduction }}</p>
    {% endif %}
{% endblock main_intro_content %}

{% block main_intro_image %}
    {% if fruit.contentImage %}
        {% set image = fruit.contentImage %}
        <figure class="image-box {% if image.title is not null %}has-caption{% endif %}">
            <div class="image">
                <img src="{% if image.title is not null %}{{ image.imagePreviewPath|imagine_filter('920x505p') }}{% else %}{{ image.imagePreviewPath|imagine_filter('1220x670p') }}{% endif %}" alt="{{ image.alt }}" />
            </div>
            {% if image.title is not null %}
                <figcaption>{{ image.title }}</figcaption>
            {% endif %}
        </figure>
    {% endif %}
{% endblock main_intro_image %}

{% block main_col_content %}
    {{ fruit.content|default('')|raw }}
{% endblock main_col_content %}

{% block sidebar %}
    {% if fruit.promoGroup is defined and fruit.promoGroup is not null %}
        <div class="sidebar-promos">
            {% for promo in fruit.promoGroup.blocks %}
                <div class="promo">
                    <a {% if promo.block.newWindow %}target="_blank"{% endif %} href="{{ promo.block.url }}">
                        {% include 'Elements/common/tear_top_small.html.twig' %}

                        {% if promo.block.icon is not null and promo.block.iconPosition == 1%}<i class="{{ promo.block.iconClass }}"></i>{% endif %}
                        <span>{{ promo.block.content|nl2br|raw }}</span>
                        {% if promo.block.icon is not null and promo.block.iconPosition == 2%}<i class="{{ promo.block.iconClass }}"></i>{% endif %}

                        {% include 'Elements/common/tear_bottom_small.html.twig' %}

                    </a>
                </div>
            {% endfor %}
        </div>
    {% endif %}
{% endblock sidebar %}
