{% extends '@AppCore/Admin/Fruit/layout.html.twig' %}

{% block title 'Edit Fruit' %}

{% block breadcrumb_crumbs %}
    {{ parent() }}
    <li><a href="{{ path('app_core.admin.fruit.update', {'id': fruit.id}) }}">{{ fruit.name }}</a> <span class="divider">/</span></li>
    <li class="active">Edit Fruit</li>
{% endblock breadcrumb_crumbs %}

{% block content %}
    {{ form_start(form, {'attr': {'class': 'form-horizontal'}}) }}
    {% include '@AppCore/Admin/Fruit/_form.html.twig' with {'form': form, 'fruit': fruit} %}
    <div class="form-actions">
        <button type="submit" class="btn btn-primary"><i class="icon-pencil icon-white"></i> Save Fruit</button>
        <a href="{{ path('app_core.admin.fruit.index') }}" class="btn"><i class="icon-refresh"></i> Cancel</a>
    </div>
    {{ form_end(form) }}
{% endblock content %}
