{% extends '@VivoBlog/layout.html.twig' %}


{% block main_content_section %}{% endblock main_content_section %}

{% block post_main_content_block %}

    <div class="block tertiary-colour padded tear-top">
        <div class="wrapper">
            <div class="news-list">

                {{ render_esi(controller('VivoBlogBundle:Category:sidePanel', { 'selected_category_id' : category.id|default(null), 'count_posts' : true, 'show_active_only' : true })) }}

                {% if category|default(null) %}
                    <div class="block">
                        <h2>{{ category.title }}</h2>
                    </div>
                {% else %}
                    {{ parent() }}
                {% endif %}
                {% if posts|length > 0 %}
                    <div class="news-items{{ posts.currentPageNumber != 1 ? ' no-featured' }}">
                        {% for post in posts %}

                            <div class="item{{ loop.first and posts.currentPageNumber == 1 ? ' first' }}">
                                <a href="{{ category|default(null) ? path('vivo_blog.category.view', { 'category_slug' : category.primarySlug.slug, 'post_slug' : post.primarySlug.slug }) : path('vivo_blog.post.view', { 'year' : post.publicationDate|date("Y"), 'month' : post.publicationDate|date("m"), 'day' : post.publicationDate|date("d"), 'slug' : post.primarySlug.slug })}}">
                                    <div class="image">
                                        {% if post.videoIcon %}<i class="chatter-play pin-play-circled"></i>{% endif %}
                                        {% if post.image is not empty %}
                                            {% set postImage = post.image %}
                                            {% if postImage.imagePreviewPath is not null %}
                                                {% set postImageSrc = postImage.imagePreviewPath|imagine_filter('600x260p') %}
                                            {% endif %}
                                        {% else %}
                                            {% set postImageSrc = 'http://placehold.it/600x260' %}
                                        {% endif %}
                                        <div class="image-cover" style="background-image:url('{{ postImageSrc }}');"></div>
                                    </div>
                                    <div class="detail{{ loop.first and posts.currentPageNumber == 1 ? ' tear-left' : ' tear-top' }}">
                                        {{ loop.first and posts.currentPageNumber == 1 ? '<div class="detail-inner">' }}
                                        {% set showDate = false %}
                                        {% if post.categories|length > 0 %}
                                            <h3>
                                                {% for category in post.categories %}
                                                    {{ category.title }}
                                                    {% if category.id == 17 %}{% set showDate = true %}{% endif %}
                                                {% endfor %}
                                            </h3>
                                        {% endif %}
                                        <h2>{{ post.title }}</h2>
                                        <h3>{{ post.publicationDate|date('d/m/Y') }}</h3>

                                        {% if loop.first and posts.currentPageNumber == 1 %}
                                            <div class="snippet">
                                                {% if post.excerpt %}
                                                    <p>{{ post.excerpt }}</p>
                                                {% else %}
                                                    <p>{{ post.body|striptags|slice(0, 200) }}...</p>
                                                {% endif %}
                                            </div>
                                        {% endif %}
                                        {{ loop.first and posts.currentPageNumber == 1 ? '</div>' }}
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="clear"></div>
                    <div class="navigation">
                        {{ knp_pagination_render(posts, '@VivoBlog/pagination.html.twig') }}
                    </div>

                {% else %}
                    <div class="alert alert-notice">
                        {% if category is defined %}
                            There are currently no posts available in this category.
                        {% else %}
                            There are currently no posts available. Please check back soon.
                        {% endif %}
                    </div>
                {% endif %}


            </div>
        </div>

    </div>



{% endblock post_main_content_block %}

