{% extends '@VivoPage/Page/view.html.twig' %}

{% block sidebar %}
    <h3>Contact Us</h3>
    <ul class="contact-list">
        <li><i class="pin-phone"></i> <a href="tel:{{ app.site.phone }}">{{ app.site.phone }}</a></li>
        <li><i class="pin-fax"></i> {{ app.site.fax }}</li>
        <li><i class="pin-mail"></i> <a href="mailto:{{ app.site.contactEmail }}">{{ app.site.contactEmail }}</a></li>
        <li><i class="pin-pin"></i> {{ app.site.address }}</li>
        <li><i class="pin-auspost"></i> {{ app.site.postOfficeBox }}</li>
    </ul>
{% endblock sidebar %}

{% block main_col_content %}
    {{ parent() }}

    {% block main_content page.contentByAlias('thankyou').content|default('')|raw %}

{% endblock main_col_content %}
